<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>14F27</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Sense</string>
	<key>CFBundleExecutable</key>
	<string>Sense</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon-Dev29x29</string>
				<string>AppIcon-Dev40x40</string>
				<string>AppIcon-Dev60x60</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon-Dev29x29</string>
				<string>AppIcon-Dev40x40</string>
				<string>AppIcon-Dev60x60</string>
				<string>AppIcon-Dev76x76</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>is.hello.sensetest</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Sense</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.4.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>is.hello.sense</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sense</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.4.2.1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>13B137</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>9.1</string>
	<key>DTSDKBuild</key>
	<string>13B137</string>
	<key>DTSDKName</key>
	<string>iphoneos9.1</string>
	<key>DTXcode</key>
	<string>0711</string>
	<key>DTXcodeBuild</key>
	<string>7B1005</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>hello.is</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSTemporaryExceptionMinimumTLSVersion</key>
				<string>TLSv1.1</string>
			</dict>
			<key>hellocdn.net</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSTemporaryExceptionMinimumTLSVersion</key>
				<string>TLSv1.1</string>
			</dict>
			<key>s3.amazonaws.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSTemporaryExceptionMinimumTLSVersion</key>
				<string>TLSv1.1</string>
			</dict>
			<key>zdassets.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSTemporaryExceptionMinimumTLSVersion</key>
				<string>TLSv1.1</string>
			</dict>
			<key>zencdn.net</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSTemporaryExceptionMinimumTLSVersion</key>
				<string>TLSv1.1</string>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your location is needed for Sense to better understand your sleep environment.</string>
	<key>SenseAllowSupportOptions</key>
	<string>YES</string>
	<key>SenseAmazonReviewURL</key>
	<string>https://www.amazon.com/review/create-review?ie=UTF8&amp;asin=B016XBL2RE&amp;channel=awUDPv3&amp;ref_=cm_cr_dp_aw_wr_but#</string>
	<key>SenseAnalyticsToken</key>
	<string>AnMchQr1VXQhPKjeYuoEEQ7pPRlow9SO</string>
	<key>SenseApiUrl</key>
	<string>https://dev-api.hello.is</string>
	<key>SenseAppReviewURL</key>
	<string>http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewContentsUserReviews?id=942698761&amp;pageNumber=0&amp;sortOrdering=2&amp;type=Purple+Software&amp;mt=8</string>
	<key>SenseClientId</key>
	<string>iphone_pill</string>
	<key>SenseCrashReportToken</key>
	<string>38c0d427c4ffe5780a3e75d6cfe45ff7</string>
	<key>SenseEnvironment</key>
	<string>Development</string>
	<key>SensePasswordResetURL</key>
	<string>http://account-staging-zpbsmunavw.elasticbeanstalk.com/reset</string>
	<key>SenseZendeskClientId</key>
	<string>mobile_sdk_client_510ec7f059736bb60c17</string>
	<key>SenseZendeskToken</key>
	<string>7bb3a86905b08e1083752af7b1d4a430afb1a051b6dae18a</string>
	<key>SenseZendeskURL</key>
	<string>https://helloinc.zendesk.com</string>
	<key>UIAppFonts</key>
	<array>
		<string>AvenirNext-Light.ttf</string>
		<string>AvenirNext-LightItalic.ttf</string>
		<string>AvenirNext-Thin.ttf</string>
		<string>AvenirNext-ThinItalic.ttf</string>
		<string>HelveticaNeue-Medium.otf</string>
		<string>HelveticaNeue-Light.otf</string>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>shortcut-new-alarm</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>New Alarm</string>
			<key>UIApplicationShortcutItemType</key>
			<string>is.hello.sense.shortcut.addalarm</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>shortcut-alarm-list</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Alarms</string>
			<key>UIApplicationShortcutItemType</key>
			<string>is.hello.sense.shortcut.editalarms</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Launch</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
		<string>bluetooth-le</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
